{{define "content"}}
<p>
  This tool exists as a simple way to send large files.
</p>
<p>
  If you were instructed to use this site to send or receive large files, please contact the person who directed you here and ask for the unique folder link that will enable access.
</p>
<p>
  If you are interested in the software powering this site, please <a href="https://github.com/nathan-osman/sbf">check it out on GitHub</a>.
</p>
<br><br>
<p>
  &copy; Copyright {{.Year}} &mdash; <a href="https://nathanosman.com">Nathan Osman</a>
</p>
{{end}}
