* {
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  font-family: sans-serif;
  margin: 0;
}

.container {
  margin: auto 12px;
}

.error {
  color: #800000;
}

.header {
  background-color: #303030;
  color: white;
  font-size: 32px;
  margin-bottom: 16px;
  padding: 12px 0;
}

table.files {
  border-collapse: collapse;
  width: 100%;
}

table.files th {
  text-align: left;
}

table.files th,
table.files td {
  padding: 4px 8px;
}

table.files tbody tr:nth-child(odd) {
  background-color: white;
}

@media (min-width: 800px) {
  .container {
    margin: auto;
    width: 720px;
  }
}
